{% extends "base.html" %}

{% block content %}
<h1>🏆 Deine Pluspunkte</h1>

<div class="card-soft">

  <h2>Aktueller Punktestand:</h2>
  <p class="points-value">{{ points }} Punkte</p>

  <h3>Abfall auswählen:</h3>

  <div class="waste-buttons">

    <form method="POST">
      <button class="btn-babyblue" name="waste" value="pet">PET (+5)</button>
    </form>

    <form method="POST">
      <button class="btn-babyblue" name="waste" value="glas">Glas (+3)</button>
    </form>

    <form method="POST">
      <button class="btn-babyblue" name="waste" value="aluminium">Aluminium (+2)</button>
    </form>

    <form method="POST">
      <button class="btn-babyblue" name="waste" value="papier">Papier (+1)</button>
    </form>

  </div>
</div>
{% endblock %}
